@model PassionProjectASP.NETNajibOsman.Models.PlayerDto
@{
    ViewBag.Title = "View";
}

<a href="/Player/List">Go back to list</a>
<h2>@Model.PlayerName</h2>
<div>@Model.PlayerBio</div>
<div>Community Name: @Model.CommunityName</div>

