@model PassionProjectASP.NETNajibOsman.Models.GameDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Game?</h2>
<a href="/Game/List">Cancel</a>
<h3>Name: @Model.GameName</h3>
<p>Bio: @Model.GameDescription</p>
<form action="/Game/Delete/@Model.GameID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>
